<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/">Our Story</a></li>
  <li><a href="{{ root_url }}/">Photos</a></li>
  <li><a href="{{ root_url }}/theproposal">Proposal</a></li>
  <li><a href="{{ root_url }}/">Venue</a></li>
  <li><a href="{{ root_url }}/">Entourage</a></li>
  <li><a href="{{ root_url }}/">Guestbook</a></li>
  <li><a href="{{ root_url }}/">RSVP</a></li>
  <li><a href="{{ root_url }}/blog/archives/">Blog</a></li>
  <li><a href="{{ root_url }}/">Contact Us</a></li>
</ul>
