<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/ourstory">Our Story</a></li>
  <li><a href="{{ root_url }}/photos">Photos</a></li>
  <li><a href="{{ root_url }}/theproposal">Proposal</a></li>
  <li><a href="{{ root_url }}/venue">Venue</a></li>
  <li><a href="{{ root_url }}/entourage">Entourage</a></li>
  <li><a href="{{ root_url }}/guestbook">Guestbook</a></li>
  <li><a href="{{ root_url }}/rsvp">RSVP</a></li>
  <li><a href="{{ root_url }}/blog/archives/">Blog</a></li>
  <li><a href="{{ root_url }}/contactus">Contact Us</a></li>
</ul>
